In [1]:
#python to mysql

In [4]:
import pymysql as py
print('done')

ModuleNotFoundError: No module named 'pymysql'

In [5]:
pip install pymysql

Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000021CBBA3B8C0>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/pymysql/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000021CBBB48410>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/pymysql/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000021CBBB48690>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/pymysql/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000021CBBB48910>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/pymysql/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000021CBBB48B90>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/pymysql/
ERROR: Could not find a version that satisfies the requirement pymysql (from versions: none)
ERROR: No matching distribution found for pymysql

In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymysql as py
print('done')

done

In [5]:
##conn=py.connect(user='root',
 #         password=1234,
  #        host='localhost',
   #       autocommit = True)
#print('connection created successfully!!')

In [6]:
#cur=conn.cursor()
#print('done')

done

In [7]:
#query='''create database iitm_day5'''
#cur.execute()
print('done')

done

In [8]:
 #query='USE iitm_day5'
#cur.execute(query)
print('done')

done

In [10]:
#query='''create table student_details
#(
#SID int not null,
#student_name varchar(50),
#course varchar(15),
#address varchar(50),
#scholarship float
#);'''
#cur.execute(query)
print('done')

done

In [12]:
#query='''insert into student_details
#values
#(101,"mohan sharma","BCA","delhi janakpuri",5000),
#(102,"ravi sharma","mCA","south delhi",5500);
#'''
#cur.execute(query)
print('done')

done

In [13]:
n=3
for i in range(n):
    #sid=int(input('enter roll no/sid:'))
    #name=input('enter your name')
    #course=input('enter your course')
    #address=input('enter your address')
    #scholarship=float(input('enter your scholarship amt'))
    #q=f'''insert into student_details values
    #({sid},"{name}","{course}","{address}",{scholarship});'''
    #cur.execute(q)
#   print('recorded inserted successfully')
print('done')

done

In [15]:
def show_records(db,table):
    #q=f'''select* from {do}.{table}};'''
    #cur.execute(q)
    #for i in cur.description():
       # print(i)
    #records=cur.fetchall()
    #import pandas as pd
    #pd.DataFrame(records)
    return  df

In [16]:
#all_columns=[]
#for i in cur.description():
 #   all_columns.append(i[0])

In [17]:
#import pandas as pd
#df=pd.DataFrame(record,columns=all_columns)

In [ ]:
show_records('iitm_day5','students_details')