In [1]:
#functional programming

In [6]:
def check_palindrome(word):
    return word

In [8]:
check_palindrome('ajay')

'ajay'

In [9]:
a='lucky'
a[::-1]

'ykcul'

mohan is not a palindromw

In [21]:
def check_palindrome(word):
    if word==word[::-1]:
        print(f'{word} is a palindrome')
    else:
        print(f'{word} not a palindrome')

In [22]:
check_palindrome('yash')

yash not a palindrome

In [23]:
def check_palindrome(word):
    word=word.upper()
    if word==word[::-1]:
        print(f'{word} is a palindrome')
    else:
        print(f'{word} not a palindrome')

In [24]:
check_palindrome('Nitin')

NITIN is a palindrome

In [25]:
def check_palindrome(word:str):
  if type(word)==str: 
    word=word.upper()
    if word==word[::-1]:
        print(f'{word} is a palindrome')
    else:
        print(f'{word} not a palindrome')
  else:
      return 'invalid data type'

In [26]:
check_palindrome(121)

'invalid data type'

In [27]:
check_palindrome('harry')

HARRY not a palindrome

In [32]:
def give_fibo(n):
    fibo=[0,1]
    for i in range(n-2):
        last_num=fibo[-1]
        sec_last_num=fibo[-2]
        next_num=last_num+sec_last_num
        fibo.append(next_num)
    return fibo

In [35]:
give_fibo(7)

[0, 1, 1, 2, 3, 5, 8]

In [36]:
def check_prime(n):
    for i in range(2,n):
        if n%i==0:
            return 'not a prime'
            break
    else:
        return 'prime number'

In [38]:
check_prime(11)

'prime number'

In [42]:
n=5
for i in range(1,n+1):
    print(i*' *')

 *
 * *
 * * *
 * * * *
 * * * * *

In [101]:
n=5
for i in range(1,n+1):
    print(' '*(n-i) + i*'*')

    *
   **
  ***
 ****
*****

In [105]:
def p_star(n=5,typ='right',shape='*'):
 if typ=='left':
     space=''
 elif typ=='right':
     space='  '
 elif typ=='mid':
     space=' '
 for i in range(1,n+1):
    print(space*(n-i)+i*f'{shape} ')

In [108]:
p_star(4,'mid','yash')

   yash
  yash yash
 yash yash yash
yash yash yash yash

In [1]:
def sum_of_n_natural_numbers(n):
    result=0
    for i in range(1,n+1):
      result +=i
    return result

In [2]:
sum_of_n_natural_numbers(5)

15

In [3]:
def factorial(n):
    result=1
    for i in range(1,n+1):
        result *=i
    return result

In [4]:
factorial(10)

3628800

In [5]:
def total_sales(*args):
    result=0
    for i in args:
        result += i
    return result

In [6]:
total_sales(1,2,3,4,5,6,7)

28

In [7]:
sales=[12422,34234234,23423424,2343,4343,43,43423,424334,234,324,3]
min_element=sales[0]
for i in sales[1:]:
    if i<min_element:
        min_element=i
print(min_element)

3

In [25]:
def min_sales(sales=[12422,34234234,23423424,2343,4343,43,43423,424334,234,324,3]):
 min_element=sales[0]
 for i in sales[1:]:
    if i<min_element:
        min_element=i
 return min_element

In [17]:
total_sales([12422,34234234,23423424,2343,4343,43,43423,424334,234,324,3])

In [19]:
sales=[12422,34234234,23423424,2343,4343,43,43423,424334,234,324,3]
max_element=sales[0]
for i in sales[1:]:
    if i>max_element:
        max_element=i
print(max_element)

34234234

In [26]:
sales=[12422,34234234,23423424,2343,4343,43,43423,424334,234,324,3]
min_sales(sales)

3

In [29]:
def max_sales(sales):
    max_element=sales[0]
    for i in sales[1:]:
     if i>max_element:
        max_element=i
    
    return max_element

In [30]:
max_sales(sales)

34234234

In [36]:
company=['ola','uber','rapido','indrive','adani','tata']
def add_hashtag(company):
    result=[]
    for i in company:
        result.append('#'+i.upper())
    return result

In [37]:
add_hashtag(company)

['#OLA', '#UBER', '#RAPIDO', '#INDRIVE', '#ADANI', '#TATA']

In [13]:
def store_records(name,age,sec,roll_no,clas):
    data={'name':name,'age':age,'sec':sec,'roll_no':roll_no,'class':clas}
    import pandas as pd
    result=pd.DataFrame(data,index=[2])
    return result

In [15]:
display(store_records('mohan',21,'A',12,12))
display(store_records('mohan',21,'A',12,12))

    name  age sec  roll_no  class
2  mohan   21   A       12     12

    name  age sec  roll_no  class
2  mohan   21   A       12     12

In [18]:
def students_records(**kwargs):
    import pandas as pd
    try:
        result = pd.DataFrame(kwargs)
        return result
    except:
        result=pd.DataFrame(kwargs,index=[1])

In [19]:
students_records(name=['yash','yssh]'
                 ,age=[20,51]
                 ,sec=['A','A']
                 ,rollno=[75,40])

ValueError: If using all scalar values, you must pass an index