In [1]:
#exception handleing
age='23'
try:
    print(1/0)
    if age>=18:
        print('can vote')
    else:
        print('cant vote')
except typeError:
    print('somwthing went wrong')
    print('invalid datatype comparison')
except:
    print('invalid code')

NameError: name 'typeError' is not defined

In [4]:
age = '23'

try:
  print(1/0)
  
  if age >= 18:
    print('can vote')
  else:
    print('can\'t vote')
except TypeError:
  print('Something went wrong!!')
  print('Invalid datatype comparison!!')

except:
  print('Invalid Code!!')

Invalid Code!!

In [5]:
def student_records(**kwargs):
  import pandas as pd
  try:
    data = pd.DataFrame(kwargs)
    return data
  except:
    data = pd.DataFrame(kwargs,index = [1])
    return data

In [6]:
student_records(Name = 'Ajay',Age = 12,Address = 'Noida')

   Name  Age Address
1  Ajay   12   Noida

In [7]:
student_records(Name = ['Aman','Karan','Mohan'],
                Age = [23,34,45],
                Address = ['Noida','Delhi','Noida'],
                Sec = list('ABC'))

    Name  Age Address Sec
0   Aman   23   Noida   A
1  Karan   34   Delhi   B
2  Mohan   45   Noida   C

In [9]:
def show_time():
  try:
    while True:
      import time
      print(time.asctime())   
      time.sleep(1)
      display(clear = True)
  except:
    print('Timer has been Stopped!!')

In [ ]:
show_time()

Sun Jul  6 21:54:51 2025

In [ ]:
def check_palindrome(word:str):
  if type(word) == str:
    word = word.upper()
    if word == word[::-1]:
      return 'Palindrome'
    else:
      return 'Not a Plaindrome'
  else:
    return 'Invalid Data Type'

In [ ]:
def give_fibo(n):
  fibo = [0,1]
  for i in range(n-2):
     last_num = fibo[-1]
     second_last_num = fibo[-2]
     next_num = last_num + second_last_num
     fibo.append(next_num)
  return fibo

In [ ]:
def check_prime(number):
    for i in range(2,number):
        if number % i == 0:
            return 'Not a Prime Number'
            break
            print('Happy Holi')
    else:
        return 'Prime Number'

In [ ]:
def print_star(n = 5, typ = 'left',shape = '*'):
  if typ  == 'left':
    space  = ''

  elif typ == 'right':
    space = '  '

  elif typ == 'mid':
    space = ' '

  for i in range(1,n+1):
    print(space*(n-i) + i*f'{shape} ')

In [ ]:
def sum_of_n_natural_numbers(n):
    result = 0
    for i in range(1,n+1):
        result += i
    return result

def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result

In [ ]:
def total_sales(*args):
  #unpacking
  result = 0
  for i in args:
    result += i
  return result

In [ ]:
def minn(*data):
  min_ele = data[0]
  for i in data[1:]:
    if i< min_ele:
      min_ele = i
  return min_ele

In [ ]:
def sound_box(paisa,platform = 'Paytm'):
    from gtts import gTTS
    text  = f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()

In [ ]:
print('''This is Ankit Module in Python
Info: https://www.google.com/''')



def check_palindrome(word:str):
  if type(word) == str:
    word = word.upper()
    if word == word[::-1]:
      return 'Palindrome'
    else:
      return 'Not a Plaindrome'
  else:
    return 'Invalid Data Type'



def give_fibo(n):
  fibo = [0,1]
  for i in range(n-2):
     last_num = fibo[-1]
     second_last_num = fibo[-2]
     next_num = last_num + second_last_num
     fibo.append(next_num)
  return fibo


def check_prime(number):
    for i in range(2,number):
        if number % i == 0:
            return 'Not a Prime Number'
            break
            print('Happy Holi')
    else:
        return 'Prime Number'


def print_star(n = 5, typ = 'left',shape = '*'):
  if typ  == 'left':
    space  = ''

  elif typ == 'right':
    space = '  '

  elif typ == 'mid':
    space = ' '

  for i in range(1,n+1):
    print(space*(n-i) + i*f'{shape} ')



def sum_of_n_natural_numbers(n):
    result = 0
    for i in range(1,n+1):
        result += i
    return result

def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result


def total_sales(*args):
  #unpacking
  result = 0
  for i in args:
    result += i
  return result

def minn(*data):
  min_ele = data[0]
  for i in data[1:]:
    if i< min_ele:
      min_ele = i
  return min_ele

def student_records(**kwargs):
  import pandas as pd
  try:
    data = pd.DataFrame(kwargs)
    return data
  except:
    data = pd.DataFrame(kwargs,index = [1])
    return data

def show_time():
  try:
    while True:
      import time
      print(time.asctime())
      time.sleep(1)
      display(clear = True)
  except:
    print('Timer has been Stopped!!')

def sound_box(paisa,platform = 'Paytm'):
    from gtts import gTTS
    text  = f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()

In [ ]:
import ankit as a
a.give_fibo(12)

In [ ]:
from ankit import minn
print('Done')

In [ ]:
import turtle
print('done')

In [ ]:
import turtle
for i in range(120):
    turtle.speed(0)
    turtle.bgcolor('black')
    col = ['red','yellow','green','blue','orange']
    import random
    picked_color = random.choice(col)
    turtle.color(picked_color)
    turtle.circle(100)
    turtle.left(3)

In [ ]:
import turtle
for i in range(4):
    turtle.circle(100)
    turtle.left(90)

In [ ]:
import turtle
for i in range(6):
    turtle.bgcolor('black')
    turtle.color('cyan')
    turtle.forward(150)
    turtle.left(60)